@import url("bootstrap.min.css");

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	border-bottom: 2px solid #2B5E88;
}

h4 {
	font-family: 'Open Sans Condensed', sans-serif;
}

.article-head {
	position: relative;
}

img {
	margin: 0 auto;
	display: block;
}

.blue {
	border-bottom: 1px solid #2B5E88;
}

.publish-date {
	text-align: right;
	margin: 0;
}

hr {
	margin: 2px 0 20px 0;
}

aside {
	background-color: #FFC173;
	box-shadow: 3px 3px 0px #BF8030;
	padding: 5px;
}

.article-body {
	background-color: #BAD3E8;
	box-shadow: 3px 3px 0px #25547B;
	padding: 3px;
	font-family: 'Dosis', sans-serif;
	margin-bottom: 40px;
}